In [9]:
import pandas as pd
from pandas.plotting import scatter_matrix
import matplotlib.pyplot as plt

In [2]:
pwd

u'/Users/brendanwong/galvanize/dsi-regression-case-study/data'

In [3]:
df = pd.read_csv('Train.csv')

/anaconda/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (13,39,40,41) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
df.head()

,SalesID,SalePrice,MachineID,ModelID,datasource,auctioneerID,YearMade,MachineHoursCurrentMeter,UsageBand,saledate,...,Undercarriage_Pad_Width,Stick_Length,Thumb,Pattern_Changer,Grouser_Type,Backhoe_Mounting,Blade_Type,Travel_Controls,Differential_Type,Steering_Controls
0,1139246,66000,999089,3157,121,3.0,2004,68.0,Low,11/16/2006 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Standard,Conventional
1,1139248,57000,117657,77,121,3.0,1996,4640.0,Low,3/26/2004 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Standard,Conventional
2,1139249,10000,434808,7009,121,3.0,2001,2838.0,High,2/26/2004 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1139251,38500,1026470,332,121,3.0,2001,3486.0,High,5/19/2011 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1139253,11000,1057373,17311,121,3.0,2007,722.0,Medium,7/23/2009 0:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df['SalePrice'].mean()

31099.71284761608

In [6]:
df.describe()

,SalesID,SalePrice,MachineID,ModelID,datasource,auctioneerID,YearMade,MachineHoursCurrentMeter
count,4.011250e+05,401125.000000,4.011250e+05,401125.000000,401125.000000,380989.000000,401125.000000,1.427650e+05
mean,1.919713e+06,31099.712848,1.217903e+06,6889.702980,134.665810,6.556040,1899.156901,3.457955e+03
std,9.090215e+05,23036.898502,4.409920e+05,6221.777842,8.962237,16.976779,291.797469,2.759026e+04
min,1.139246e+06,4750.000000,0.000000e+00,28.000000,121.000000,0.000000,1000.000000,0.000000e+00
25%,1.418371e+06,14500.000000,1.088697e+06,3259.000000,132.000000,1.000000,1985.000000,0.000000e+00
50%,1.639422e+06,24000.000000,1.279490e+06,4604.000000,132.000000,2.000000,1995.000000,0.000000e+00
75%,2.242707e+06,40000.000000,1.468067e+06,8724.000000,136.000000,4.000000,2000.000000,3.025000e+03
max,6.333342e+06,142000.000000,2.486330e+06,37198.000000,172.000000,99.000000,2013.000000,2.483300e+06

In [7]:
df.columns

Index([u'SalesID', u'SalePrice', u'MachineID', u'ModelID', u'datasource',
       u'auctioneerID', u'YearMade', u'MachineHoursCurrentMeter', u'UsageBand',
       u'saledate', u'fiModelDesc', u'fiBaseModel', u'fiSecondaryDesc',
       u'fiModelSeries', u'fiModelDescriptor', u'ProductSize',
       u'fiProductClassDesc', u'state', u'ProductGroup', u'ProductGroupDesc',
       u'Drive_System', u'Enclosure', u'Forks', u'Pad_Type', u'Ride_Control',
       u'Stick', u'Transmission', u'Turbocharged', u'Blade_Extension',
       u'Blade_Width', u'Enclosure_Type', u'Engine_Horsepower', u'Hydraulics',
       u'Pushblock', u'Ripper', u'Scarifier', u'Tip_Control', u'Tire_Size',
       u'Coupler', u'Coupler_System', u'Grouser_Tracks', u'Hydraulics_Flow',
       u'Track_Type', u'Undercarriage_Pad_Width', u'Stick_Length', u'Thumb',
       u'Pattern_Changer', u'Grouser_Type', u'Backhoe_Mounting', u'Blade_Type',
       u'Travel_Controls', u'Differential_Type', u'Steering_Controls'],
      dtype='object')

In [21]:
dummies = pd.get_dummies(df['ProductGroup'])

In [24]:
type(dummies)

pandas.core.frame.DataFrame